body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: #000;
}

ul li{
    list-style: none;
}

.logo-2{
    display: none;
}

.navi-btn{
    background: linear-gradient(179.41deg, #FD749B -13.56%, #281AC8 158.3%);
    width: 157px;
    height: 54px;
    left: 1255px;
    top: 37px;
    border-radius: 100px;
    border-style: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.navi-btn:hover{
    color: #fff;
}

header{
    max-width: 120vw;
    width: 98%;
    margin: 30px auto;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%
}

.navigation{
    display: flex;
    justify-content: space-around;
}
ul{
    margin-left: 2rem;
}

nav ul{
    display: flex;
    justify-content: space-evenly
}

nav ul li a{
    margin-left: 2rem;
    position: relative;
    letter-spacing: 1px; 
}

nav .dropdown{
    display: flex;
}

.dropdown-menu{
    left: 79.53%;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-top: 20px;    
}

.dropdown-item{
    margin-top: -8px;
    margin-bottom: -8px;
   
}

nav .dropdown a{
    padding-top: 1rem;
    margin-right: 2rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
}

.giftcard{
    color: #FFFFFF;;
    background: linear-gradient(179.62deg, #FD749B -13.56%, #281AC8 158.3%);
    
}

.circle-btn{
    display: none;
}
.close-btn{
    font-size: 40px;
    cursor: pointer;
}

nav ul li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d061a5;
    bottom: 0;
    left: 5;
    right: 5;
    transform: scaleX(0);
    transition: all .5s;
    transform-origin: left;
}

nav ul li a:hover::before{
    transform: scaleX(1);
}

.menuIcon{
  justify-content: flex-end;
}

.menuIcon:hover{
    cursor: pointer;
}

.menu-icon{
    padding: 18px 15px;
    position: relative;
    float: right;
    cursor: pointer;
    }

    .nav-icon{
       background: linear-gradient(179.62deg, #FD749B -13.56%, #281AC8 158.3%);
       display: block;
       height: 2.2px;
       width: 20px;
       position: relative;
       transition: background .2s ease-out;
   }

   .nav-icon:hover{
    width: 25px;
    transition: all .2s;
   }

   .nav-icon:before{
        background: linear-gradient(179.62deg, #FD749B -13.56%, #281AC8 158.3%);
        content: "";
        display: block;
        height: 100%;
        width: 25px;
        position: absolute;
        transition: all .2s ease-out;
        top: 7px;
   }

   .nav-icon:hover:before{
       width: 20px;
       transition: all .2s;
   }

   .nav-icon, .nav-icon:before, .nav-icon:after{
       display: none;
   }

   .nav-icon:after{
    background: linear-gradient(179.62deg, #FD749B -13.56%, #281AC8 158.3%);
    content: "";
    display: block;
    height: 100%;
    width: 25px;
    position: absolute;
    transition: all .2s ease-out;
    top: -7px;
}

.nav-icon:hover::after{
    width: 20px;
    transition: all .2s;
}

.menu-btn{
    display: none;
}

hr{
    display: none;
}


@media(max-width:780px){

    .logo-2{
        display: block;
        }

    .logo{
        display: none;
    }

    nav{
        height: 100vh;
        width: 300px;
        background-color: #181818;
        clip-path:polygon(0 0,100% 0,0% 100%, 0% 100%);
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left:  -300px;
        transition: all .5s ease-in-out;
        text-align: center;
        margin: auto;
        color: white ;
    }   

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    nav ul li{
        margin-left: -7rem;
        margin-top: 3rem;
        }

    ul{
        margin-top: -1.5rem;
    }

    nav ul li a{
        color: white;
     }

    nav .dropdown{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2.5rem;
    }

    .dropdown-toggle{
        margin-bottom: 4rem;
    }

    .menuIcon{
      width: 100%;
    }
    
    .navi-btn{
        margin-left: 2rem;
    }

    .navi-btn:hover{
        color: #000 !important;
    }

    .circle-btn{
        display: block;
    }

    .nav-icon, .nav-icon:before, .nav-icon:after{
        display: block;
    }

    hr{
        display: block;
        margin-top: 1.5rem;
        
    }

    .border-line{
        border: 0px 0px 0px 0.01px;
        border-color:#d061a5;
        border-style: groove;
        height: 0.1px;
    }

}